target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
# IntelliJ project files
.idea/

# Compiled class files
out/

# Dependency directories
lib/

# Maven specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Gradle specific files
build/
.gradle/
.gradle.kts/

# Logs and reports
logs/
reports/

# Operating System files
.DS_Store
Thumbs.db

# IDE-specific files
*.iml
*.ipr
*.iws

# Editor-specific files
*~
*.swp
*.bak
*.tmp
